@model IEnumerable<AssetWebManager.Models.GameRoomModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <form asp-action="Create">
        <div class="form-group row">
            <div class="col-md-4">
                <input id="MaxUserCount" type="number" name="MaxUserCount" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </div>
    </form>
    <form asp-action="Clear">
        <div class="col-md-1">
            <input type="submit" value="Clear" class="btn btn-outline-info" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxUserCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxUserCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GameCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GameCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GameCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
